/* Universal */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url('../pictures/rbackground.jpg');
  background-color: #fcb936;
  background-position: center;
  background-size: cover;

  font-family: Papyrus, "Lucida Handwriting", Serif;
  font-size: 20px;
  color: #643502;
}

header {
  float: left;
  top: 0%;
  width: 100%;
}

footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;

    opacity: 0.8;

    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:  #994f02;
    text-shadow: 0.133em 0.133em black;
}

/* Text */
.AppName {
  font-family: Helvetica, Arial;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

mark {
  background-color: inherit;

  color: inherit;
}

h1 {
  background-color: #221103;

  font-family: monospace, Papyrus, "Lucida Handwriting", Serif;
  font-size: 30px;
  color: #e38608;

  margin: 10px;
}

h2 {
  font-family: Helvetica, Arial;
  font-style: italic;
  font-size: 40px;
  color: #643502;

  padding: 10px 10  px;

}

input[type="text"], input[type="password"] {
  width: 200%;
  margin: 5px;
  padding: 10px;

  background-color: #e38608;
  opacity: 0.75;

  font-family: Papyrus, "Lucida Handwriting", Serif;
  font-size: 100%;
  font-weight: bold;
  color: #221103;
}

input[type="text"]:focus, input[type="password"]:focus {
  background-color: #994f02;
}

input[type="text"]:hover, input[type="password"]:hover {
  background-color: #994f02;
}

/* Buttons */
button {
    cursor: pointer;

    float: left;
    margin: 5px;
    padding: 10px 20px;

    border: none;
    border-radius: 5px;

    background-color: #221103;
    opacity: 0.95;

    font-family: Papyrus, "Lucida Handwriting", Serif;
    font-size: 18px;
    font-weight: bolder;
    color: #e38608;
}

button:hover {
    background-color: #e38608;

    color: #221103;
}

.closeButton {
  float: right;
  padding-bottom: 50000px;

  font-size: 42px;
  font-weight: bold;
}

.closeButton:focus {
  cursor: pointer;

  text-decoration: none;
  color: black;
}

.closeButton:hover {
  cursor: pointer;

  text-decoration: none;
  color: black;
}

.logoutButton {
  background-color: #861003;
}

.logoutButton:hover {
    background-color: #e38608;

    color: #861003;
}

/* Modal windows */
.modal {
  display: none;
  z-index: 1;

  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: black;
  background: rgba(0, 0, 0, 0.9);
}

.modalContent {
  width: 80%;
  margin: 15% auto;
  padding: 20px;

  background-color: #ef8834;
  opacity: 0.8;
}

.displayed {
  display: block;
}

/* Authenticate page */
.loginForm {
  position: fixed;
  top: 40%;
  left: 10%;
  text-align: center;
}

/* Home page */

.topMenu {
  float: right;
}

.leftColumn {
  float: left;
  width: 50%;
  height: auto;
}





















/* TODO */

/* Tabs */
/* Clock button */
/* Submit settings*/

/* Clocks */
/* (AJAX updated) Device will turn off in --:-- */
/* (AJAX updated) Device will turn off at --:-- */

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;

  background-color: yellow;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;

  background-color: green;
}

.tabclock {
  display: block;
}


.submit {
  cursor: pointer;

  float: center;
  margin: 5px;
  padding: 10px 20px;


  border: none;
  border-radius: 5px;

  background-color: #221103;
  opacity: 0.95;

  font-family: Papyrus, "Lucida Handwriting", Serif;
  font-size: 18px;
  font-weight: bolder;
  color: #e38608;

  background-color: indigo;
}


.something {
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-top: 25%;
}













.rightColumn {
  float: right;
  width: 50%;
}

.finalCountdown {
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-top: 25%;


  background-color: #e38608;
  opacity: 0.90;

  border-style: solid;
  border-color: #994f02;
  border-width: 10px;

  text-align: center;
}
