/* All sites */
html {
  height: 100%;
}

body {
  background-image: url('../pictures/rbackground.jpg');
  background-color: #fcb936;
  background-position: center;
  background-size: cover;

  font-family: Papyrus, "Lucida Handwriting", Serif;
  font-size: 20px;
  color: #643502;
}

.bold {
  font-weight: bold;
}

.AppName {
  font-family: Helvetica, Arial;
  font-style: italic;
}

input[type="text"], input[type="password"] {
  width: 200%;
  margin: 5px;
  padding: 10px;

  background-color: #e38608;
  opacity: 0.75;

  font-family: Papyrus, "Lucida Handwriting", Serif;
  font-size: 100%;
  font-weight: bold;
  color: #221103;
}

input[type="text"]:focus, input[type="password"]:focus {
  background-color: #994f02;
}

input[type="text"]:hover, input[type="password"]:hover {
  background-color: #994f02;
}

.modal {
  display: none;
  z-index: 1;

  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: black;
  background: rgba(0, 0, 0, 0.9);
}

.modalContent {
  width: 80%;
  margin: 15% auto;
  padding: 20px;

  background-color: #ef8834;
  opacity: 0.8;
}

.close {
  float: right;

  font-size: 42px;
  font-weight: bold;
}

.close:focus {
  cursor: pointer;

  text-decoration: none;
  color: black;
}

.close:hover {
  cursor: pointer;

  text-decoration: none;
  color: black;
}

button {
    cursor: pointer;

    float: left;
    margin: 5px;
    padding: 10px 20px;

    border: none;
    border-radius: 5px;

    background-color: #221103;
    opacity: 0.95;

    font-family: Papyrus, "Lucida Handwriting", Serif;
    font-size: 18px;
    font-weight: bolder;
    color: #e38608;
}

button:hover {
    background-color: #e38608;

    color: #221103;
}

footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;

    opacity: 0.8;

    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:  #994f02;
    text-shadow: 0.133em 0.133em black;
}

/* Authenticate */
.loginForm {
  position: fixed;
  top: 40%;
  left: 10%;
  text-align: center;
}

/* Home */














 /* The Modal (background) */


/* Modal Content/Box */
