<!doctype html>
<html>
  <head>
    <title>UST 9000 eXtra</title>
    <link rel="stylesheet" type="text/css" href="../static/css/roman_style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../static/pictures/rlogo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="modal">
          <div class="modalContent">
            <span class="close">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}
    <div class="loginForm">
      <form action="{{ url_for('roman_login') }}" name="form" method="POST" autocomplete="on">
          <input type="text" name="login" placeholder="Your login" autocomplete="name" required><br>
          <input type="password" name="password" placeholder="Your password" autocomplete="current-password" required><br>
          <button type="submit">Login</button>
          <button type="reset">Reset</button>
          <button type="button" id="helpOpen">?</button>
      </form>
    </div>
    <div class="modal">
      <div class="modalContent">
        <span class="close">&times;</span>
        <p>
          This is browser implementation of <span class="AppName">Ultimate Shutdown Tool 9000 eXtra</span>.
          You can use it locally through localhost or remotely by port fowarding.
        </p>
        <p>Please enter your shell credentials in order to continue.</p>
      </div>
    </div>
    <footer>
      <p>
        Created by Roman Fulla &ltxfulla00&gt.
        I don't own anything on this site. All rights go to their respective owners.
        We use cookies for login purposes. We do not track your activity in any way.
      </p>
    </footer>
  </body>
  <script type="text/javascript">
    // Flash
    var flashModal = document.getElementsByClassName("modal")[0];
    var flashCloseButton = document.getElementsByClassName("close")[0];
    flashCloseButton.onclick = function() {
      helpModal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == flashModal) {
        helpModal.style.display = "none";
      }
    }
    // Help
    var helpModal = document.getElementsByClassName("modal")[1];
    var helpButton = document.getElementById("helpOpen");
    var helpCloseButton = document.getElementsByClassName("close")[1];
    helpButton.onclick = function() {
      helpModal.style.display = "block";
    }
    helpCloseButton.onclick = function() {
      helpModal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == helpModal) {
        helpModal.style.display = "none";
      }
    }
  </script>
</html>
