<!doctype html>
<html>
  <head>
    <title>UST 9000 eXtra</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/roman_style.css')}}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/rlogo.png')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="modal" id="about">
      <div class="modalContent">
        <span class="closeButton" id="aboutClose">&times;</span>
        <p>Use <span class="bold">Clock</span> to set <span class="bold">time at which</span> you want to perform an action.</p>
        <p>Use <span class="bold">Timer</span> to set <span class="bold">how much time should pass until</span> you want to perform an action.</p>
        <p>Use <span class="bold">Settings</span> to set <span class="bold">conditions at which </span> you want to perform an action.</p>
        <br>
        <p>Settings are updated at page reload. You need to <span class="bold">submit</span> changes to change them.</p>
      </div>
    </div>

    {% set globalMessages = [] %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% if globalMessages.append('1') %}{% endif %}

        <div class="modal displayed" id="flash">
          <div class="modalContent">
            <span class="closeButton" id="flashClose">&times;</span><br>
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <header>
      <div class="topMenu">
        <button id="aboutOpen">About</button>
        <a href="{{ url_for('roman_logout') }}"><button class="logoutButton">Logout</button></a>
      </div>
    </header>

    <div class="leftColumn">
      <div class="mainMenu">
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'clock')">Clock</button>
          <button class="tablinks" onclick="openTab(event, 'timer')">Timer</button>
          <button class="tablinks" onclick="openTab(event, 'settings')">Advanced settings</button>
        </div>



        <!-- Tab content -->
        <div id="clock" class="tabContent defaultTab">
          <form id="clockForm" autocomplete="on">




            <button class="submit" onclick="startCountdown('clock')">Start</button>
          </form>
        </div>


        <!-- Tab content -->
        <div id="clock" class="tabContent defaultTab">
          <p>time form</p>
          <p>action menu</p>
          <button class="submit" onclick="startCountdown('clock')">Start</button>
        </div>

        <div id="timer" class="tabContent">
          <p>time form</p>
          <p>action menu</p>
          <button class="submit" onclick="startCountdown('Timer')">Start</button>
        </div>

        <div id="settings" class="tabContent">
          <p>CPU form</p>
          <p>RAM form</p>
          <p>Network form</p>
          <p>Audio form</p>
          <p>Screensaver form</p>
          <p>Script form</p>
          <button onclick="changeSettings()">Submit settings</button>
        </div>
      </div>
    </div>

    <div class="rightColumn">
      <div class="finalCountdown">
        <div class="finalClock">
          <h1>Next <mark id="action">action</mark> will occur at</h1>
          <h2 id="finalClockTime">--:--:--</h2>
        </div>
        <div class="finalTimer">
          <h1>Remaining time</h1>
          <h2 id="finalTimerTime">--:--:--</h2>
        </div>
      </div>
    </div>

    <footer>
      <p>Created by Roman Fulla &ltxfulla00&gt.
         I don't own anything on this site. All rights go to their respective owners.
         We use cookies for login purposes. We do not track your activity in any way.</p>
    </footer>
  </body>
  <script type="text/javascript">
    // About
    var aboutModal = document.getElementById("about");
    var aboutButton = document.getElementById("aboutOpen");
    var aboutCloseButton = document.getElementById("aboutClose");
    aboutButton.onclick = function() {
      aboutModal.style.display = "block";
    }
    aboutCloseButton.onclick = function() {
      aboutModal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == aboutModal) {
        aboutModal.style.display = "none";
      }
    }

    // Flash
    {% if globalMessages %}
      var flashModal = document.getElementById("flash");
      var flashCloseButton = document.getElementById("flashClose");
      flashCloseButton.onclick = function() {
        flashModal.style.display = "none";
      }
      window.onclick = function(event) {
        if (event.target == flashModal) {
          flashModal.style.display = "none";
        }
      }
    {% endif %}


















    function openTab(evt, cityName) {
    // Declare all variables
    var i, tabContent, tablinks;

    // Get all elements with class="tabContent" and hide them
    tabContent = document.getElementsByClassName("tabContent");
    for (i = 0; i < tabContent.length; i++) {
      tabContent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    }














    // countdown
    function startCountdown(type) {
      var obj = {time:null, action:null, script:null}; // JS object
      var time = document.getElementById("time"); // Input for time

      if(time.value == "") return null;

      /* Time */
      var time_result = getTime(time.value);
      obj.time = time_result;

      /* Action */
      for (var i = 0, element; element = action_elems[i++];)
      {
          obj.action = element.value;
      }

      /* Script */
      if(document.getElementById("script").value != "")
      {
          obj.script = document.getElementById("script").value;
      }

      /* Create JSON string from an object */
      var jsonData = JSON.stringify(obj);
      if(startObj != null)
      {
          sendData(startObj, "{{ url_for('start_timer') }}");
      }










      if (type == "clock") {

      }
      else {

      }
    }


    document.getElementById("action").innerHTML = "shutdown";
    document.getElementById("finalClockTime").innerHTML = "18:52:22";
    document.getElementById("finalTimerTime").innerHTML = "--:--:--";
























  </script>
</html>
