<!doctype html>
<html>

<!-- HEAD -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/running_style.css') }}" type="text/css"/>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.png') }}"/>
  <title>Running</title>
</head>

<!-- BODY -->
<body>
    <!-- HEADER -->
    <header id="h">
        <div class="title">
            Ultimate Shutdown tool 9000 eXtra
        </div>
        
        <div class="header_settings">
            <div id="myBtnInfo"></div>
            <button onclick="dark_mode_toggle()" id="dm_btn">dark mode</button>
            <a href="{{ url_for('web_logout') }}">
                <button>Logout</button>
            </a>
        </div>            
    </header>

     <!-- BACKGROUND -->
    <div class="background_picture">
        <!-- Running procccess -->
        <div class="run_proc" id="rp">
          <!-- Countdown -->
          <div class="run_row">
            <span id="countdown"></span>
          </div>
          <!-- Off Button -->
          <div class="run_row">
            <div id="off"></div>
          </div>
        </div>
    </div>

    <!-- MODAL WINDOW INFO -->
  <div id="myModalInfo" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Information</h1>
    </div>
  </div>

</body>

<!-- COUNTDOWN -->
<script type="text/javascript">
  var countdown_time = 1000;
  var time_passed = 0;

  var x = setInterval(function(){

    var distance = countdown_time - time_passed;

    document.getElementById("countdown").innerHTML = distance;

    time_passed = time_passed + 1;

    if(distance < 0)
    {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "Expired";
    }
  }, 1000);

</script>

<!-- DARK MODE JS -->
<script type="text/javascript">
    function dark_mode_toggle()
    {
        document.getElementById("h").classList.toggle("dark-mode-h");
        document.getElementById("rp").classList.toggle("dark-mode");
        document.getElementById("dm_btn").classList.toggle("bgc_1");
    }
</script>

<!-- MODAL WINDOW -->
<script type="text/javascript">
    /* MODAL WINDOWS */
    /* Description */
    // Get the modal
    var modal = document.getElementById("myModalInfo");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtnInfo");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
</html>